/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 0;
}

.container {
    align-items: center !important;
    margin: 0px !important;
}

.section-title {
    text-align: center;
    color: black;
    margin-bottom: 0px;
    text-transform: uppercase;
}

#footer {
    position: relative;
    background: #333;
    color: #fff;
    padding: 2vh 12vw;
    overflow: hidden;
}

#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./kisan.jpg') no-repeat center 30%/cover;
    opacity: 0.5; 
    z-index: 0;
}

#footer h5,
#footer a,
.row.text-center,
#footer ul.social,
#footer ul.quick-links {
    position: relative;
    z-index: 1;
}

#footer h5 {
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    transition: color 0.3s ease, font-size 0.3s ease;
}

#footer a:hover {
    color: #ffcc00;
    font-size: 1.1em;
}

.row.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer ul.social {
    text-align: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#footer ul.social li {
    display: inline-block;
    padding: 2px 10px;
}

#footer ul.social li a i {
    font-size: 25px;
    transition: font-size 0.3s ease, color 0.3s ease;
}

#footer ul.social li a:hover i {
    font-size: 30px;
    color: #ffcc00;
}

#footer ul.quick-links {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#footer ul.quick-links li {
    padding: 0 15px;
}

#footer ul.quick-links li a {
    display: flex;
    align-items: center;
    transition: color 0.3s ease, font-size 0.3s ease;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li a:hover {
    color: #ffcc00;
    font-size: 1.1em;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
